#start chromium
alias chromium='/usr/bin/chromium-browser --disable-gpu'

# directory navigation aliases
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# safely rm
alias rm='rm -I --preserve-root'

# update all in one command
alias update='sudo apt-get update && sudo apt-get upgrade'

# ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'